package ${projectName}.dao;

import ${projectName}.base.BasicMapper;
import ${projectName}.entity.${className};
import org.apache.ibatis.annotations.Mapper;

/**
 * @author menguer@126.com
 * @date 2019年11月25日 下午8:25:23
 * @version 1.0.0
 * @description
 */
@Mapper
public interface ${className}Mapper extends BasicMapper<${className}> {

}