<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${projectName}.dao.${className}Mapper">
	<resultMap id="baseResultMap" type="${projectName}.entity.${className}">
	#foreach($e in $list)
		<result property="${e.columnJavaName}" column="${e.columnName}"/>
	#end	
	</resultMap>
	
	<sql id="tableName">
		${tableName}
	</sql>
	
	<sql id="baseColumns">
		<trim suffixOverrides=",">
		#foreach($e in $list)
			${e.columnName},
		#end	
		</trim>
	</sql>
	
	<!-- 有则更新，无则新增 -->
    <insert id="upsertBatch" parameterType="java.util.List">
        INSERT INTO <include refid="tableName" />
        (<include refid="baseColumns" />)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (<trim suffixOverrides=",">
            #foreach($e in $list)
            #if(${e.columnName}=='create_time')
                now(),
            #elseif(${e.columnName}=='del_flag')
                '0',
            #else
                #{item.${e.columnJavaName}},
            #end
            #end
            </trim>)
        </foreach>
        ON DUPLICATE KEY UPDATE
        #foreach($e in $list)
        #if(${e.columnName}!='id' && ${e.columnName}!='update_time')
            ${e.columnName} = VALUES(${e.columnName}),
        #end
        #end
            update_time = now()
    </insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT IGNORE INTO <include refid="tableName" />
		(<include refid="baseColumns" />)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(<trim suffixOverrides=",">
			#foreach($e in $list)
			#if(${e.columnName}=='create_time')
				now(),
			#elseif(${e.columnName}=='del_flag')
			    '0',
			#else
				#{item.${e.columnJavaName}},
			#end
			#end
			</trim>)
		</foreach>
	</insert>
	
	<delete id="delete" parameterType="${projectName}.entity.${className}">
        DELETE FROM <include refid="tableName" /> WHERE 1=1
#foreach( $e in $list)
    #if(${e.myBatisType}=='VARCHAR' && ${e.columnIsLikeQuery}=='YES')
        <if test="${e.columnJavaName} != null">
            AND ${e.columnName} LIKE CONCAT(CONCAT('%',#{${e.columnJavaName}}),'%')
        </if>
    #elseif(${e.myBatisType}!='TIMESTAMP')
        <if test="${e.columnJavaName} != null">
            AND ${e.columnName} = #{${e.columnJavaName}}
        </if>
    #end
#end
    </delete>

	<delete id="deleteByIds" parameterType="java.util.Collection">
		DELETE FROM <include refid="tableName" />
		WHERE id IN
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE <include refid="tableName" />
			<set>
			#foreach( $e in $list)
			#if(${e.columnName}!='id' && ${e.columnName}!='update_time')
				<if test="item.${e.columnJavaName} != null">
					${e.columnName} = #{item.${e.columnJavaName}},
				</if>
			#end
			#end
				update_time = now()
			</set>
			WHERE id = #{item.id}
		</foreach>
	</update>
	
	<select id="list" parameterType="${projectName}.entity.${className}" resultMap="baseResultMap">
		SELECT <include refid="baseColumns" /> FROM <include refid="tableName" /> WHERE 1=1
#foreach( $e in $list)
	#if(${e.myBatisType}=='VARCHAR' && ${e.columnIsLikeQuery}=='YES')
		<if test="${e.columnJavaName} != null">
			AND ${e.columnName} LIKE CONCAT(CONCAT('%',#{${e.columnJavaName}}),'%')
		</if>
	#elseif(${e.myBatisType}!='TIMESTAMP')
		<if test="${e.columnJavaName} != null">
			AND ${e.columnName} = #{${e.columnJavaName}}
		</if>
	#end
#end
	</select>

	<select id="listByIds" parameterType="java.util.Collection" resultMap="baseResultMap">
		SELECT <include refid="baseColumns" /> FROM <include refid="tableName" /> 
		WHERE id IN
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>