package ${projectName}.service.impl;

import ${projectName}.base.BasicServiceImpl;
import ${projectName}.dao.${className}Mapper;
import ${projectName}.entity.${className};
import ${projectName}.service.${className}Service;
import org.springframework.stereotype.Service;

/**
 * @author menguer@126.com
 * @date 2019年9月20日 下午1:57:15
 * @version 1.0.0
 * @description
 */
@Service
public class ${className}ServiceImpl extends BasicServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}